* {
    box-sizing: border-box;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

html{
    font-size: 16px;
}
body {
    margin: 0;
    font-size: 0.875rem;
    background-color: bisque;
}


input {
    display: block;
}

button {
    border: none;
    margin: 3px;
    border-radius: 5px;
}