* {
    box-sizing: border-box;
    
    margin: 0;
}
html{
    font-size: 16px;
}
body {
    font-family:  monstserrat-reg;
    margin: 0;
    background-color: var(--clr2);
}
img {
    width: 100%;
}
input {
    display: inline-block;
    padding: 5px;
}
button {
    border: none;
    margin: 3px;
    border-radius: 5px;
    padding: 5px;
    background-color: white;
    
}

li{
    font-size: 1.1875rem;
    list-style-type: none;
    padding: 0 5px;
}
a{
    text-decoration: none;
}

.person-img{
    border-radius: 50%;
    width: 320px;
    object-fit: cover;
    margin: 10.62rem  2.5rem;
}
.logo{
    font-family: bold-mon;
}


