
.flex {
    display: flex;
}
.grid {
    display: grid;
}
.flex.space-between {
    justify-content: space-between;
}

.flex.align-center {
    align-items: center;
}
.hide {
    opacity: 0;
    position: absolute;
    left: -200vw;
}
.clean-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.white-bg{
    background-color: white;
}
.orange-bg {
    background-color: var(--clr1);
}
.hide{
    opacity: 0;
    /* display: none; */
    position: absolute;
    left: -500vw;
}
.hide-btn {
    display: none;
}

