
.flex {
    display: flex;
}
.flex.space-between {
    justify-content: space-between;
}

.flex.align-center {
    align-items: center;
}
.hide {
    opacity: 0;
    position: absolute;
    left: -100vw;
}
.clean-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.grid {
    display: grid;
}
