.main-layout {
    max-width: 1060px;
    margin: 0 auto;
}
.main-header {
    width: 1060px;
    margin: 0 auto;
}
.main-header .main-nav>*:not(:last-child) {
    margin-inline-end: 100px;
}
.gallery-layout{
    width: 1060px;
    margin-top: 10px;
    justify-content: center;
}
.image-gallery img {
    width: 100px;
    height: 100px;
}