.main-footer{
    height: 205px;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    color: white;
}
.main-details h1 {
    font-family:  bold-mon;
    font-size: a.5625rem;
    margin-bottom: 10px;
}
.main-details{
    max-width: 500px;
    text-align: center;
}
.main-contact{
    min-height: 345px;
    padding: 0.3125rem;
    justify-content: center;
    align-items: center;
}
.person-img{
    border-radius: 50%;
    max-width: 320px;
    object-fit: cover;
}
a{
    text-decoration: none;
    color: white;
}


