.main-gallery{
    padding: 25px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 50px));
    grid-auto-rows: auto;
    grid-auto-flow: dense;
    gap: 10px;
    padding: 30px;
    max-width: 900px;
    margin: 0 auto;
}
.main-gallery img{
    cursor: pointer;
}
.search-ic{
    width: 40px;
    padding-inline-end: 10px;
}
.feel-lucky{
    margin-top: 5px;
    text-align: center;
    color: rgb(0, 0, 0);
    margin:7px auto;
    padding: 5px;
}