.main-search{
    height: 65px;
    background-color: white;
    padding: 10px;
}
.key-words{
    display: inline;
}

.main-search input {
    border: none;
    border-bottom: 1px solid;
    margin-right: 20px;
}
.lucky {
    text-align: center;
    cursor: pointer;
    padding-bottom: 5px;
}