
.tools img {
    width: 30px;
}
.tools{
    margin: 0 auto;
    padding: 20px;
}

.main-editor{
    align-items: center;
    /* justify-content: space-around; */
    margin: 0 auto;
    /* width: 890px; */
    
}