@font-face {
    font-family: bold-mon;
    src: url(/css/font/Montserrat/Montserrat-Bold.ttf);
}

@font-face {
    font-family: monstserrat-reg;
    src: url(/css/font/Montserrat/Montserrat-Regular.ttf)
}